.supply-good {
}

.low-pints {
  font-weight: 600;
  background-color: red;
}

.low-cost {
  background-color: green;
}

.average-cost {
  background-color: yellow;
}

.expensive-cost {
  background-color: red;
}

.low-abv {
  font-family: monospace;
}

.average-abv {
  font-family: sans-serif;
}

.high-abv {
  font-family: cursive;
}
