* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.low-pints {
  font-weight: 600;
  background-color: peachpuff;
}

.low-cost {
  background: linear-gradient(45deg, aqua, bisque);
}

.average-cost {
  background: linear-gradient(45deg, crimson, maroon, darkblue);
}

.expensive-cost {
  background: linear-gradient(45deg, rebeccapurple, yellow, royalblue);
}

.low-abv {
  font-family: monospace;
}

.average-abv {
  font-family: sans-serif;
}

.high-abv {
  font-family: cursive;
}

.on-sale {
  background: linear-gradient(45deg, gold, orange, black);
}

body {
  background-image: url("/resources/img/tap-room.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  display: flex;
  justify-content: center;
  margin: 1px;
  width: 100%;
}
li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: 3px solid black;
  border-radius: 10px;

}
.sale-percent {
  display: flex;
  justify-content: flex-end;
}
.modifiers {
  display: flex;
  align-items: center;
}
#sales {
  height: 40px;
  width: 135px;
  align-self: center;
  border: 3px solid black;
  font-size: 14px;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
button {
  width: 70px;
  height: 40px;
  border-radius: 5px;
  border: 3px solid black;
  font-size: 14px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items:  center;
}

select {
  width: 70px;
  height: 40px;
  border-radius: 5px;
  border: 3px solid black;
  font-size: 14px;
  margin-left: 30px;
}

#delete {
  // margin-top: 20px;
}

#happy-hour, #end {
  height: 60px;
  float: right;
  margin-top: -45px;
  margin-right: 330px;
}

input {
  height: 30px;
  width: 200px;
  margin-left: 10px;
  border-radius: 5px;
  border: 3px solid black;
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

#pint-select {
  width: 120px;
  margin-left: 0px;
}

#styles {
  width: 90px;
  margin-left: 10px;
  margin-right: 0;
}

#add-keg {
  float: right;
  margin-top: 0;
  margin-left: 0;
  margin-right: 160px;
}

#filter {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: -10px;
}

#label-div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#show {
  margin-left: 20px;
  margin-top: 5px;
  width: 100px;
}

#search {
  margin: 0px;
  margin-left: 20px;
  margin-top: 5px;
}

#pints-remaining {
  margin-left: 20px;
  height: 25px;
  padding: 5px;

}
