* {
  box-sizing: border-box;
}

.low-pints {
  font-weight: 600;
  background-color: peachpuff;
}

.low-cost {
  // background-color: green;
  background: linear-gradient(45deg, aqua, bisque);
}

.average-cost {
  background: linear-gradient(45deg, crimson, maroon, darkblue);
}

.expensive-cost {
  background: linear-gradient(45deg, rebeccapurple, yellow, royalblue);
}

.low-abv {
  font-family: monospace;
}

.average-abv {
  font-family: sans-serif;
}

.high-abv {
  font-family: cursive;
}

.on-sale {
  background: linear-gradient(45deg, gold, orange, black);
}

body {
  background-image: url("/resources/img/tap-room.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  display: block;
}
