<h1>BAER ROOM</h1>
<form>
  <input [value]="name" (input)="name = $event.target.value" type="text" placeholder="Beer Name">
  <input [value]="brand" (input)="brand = $event.target.value" type="text" placeholder="Brand">
  <input [value]="price" (input)="price = $event.target.value" type="text" placeholder="Beer Price">
  <input [value]="abv" (input)="abv = $event.target.value" type="text" placeholder="Beer Alcohol Content">
  <select [value]="style" (input)="style = $event.target.value">
    <option value="IPA">IPA</option>
    <option value="Stout">Stout</option>
    <option value="Ale">Ale</option>
    <option value="Lager">Lager</option>
    <option value="Pilsner">Pilsner</option>
    <option value="Porter">Porter</option>
  </select>
  <button (click)="addKeg(); clearInputs()">Add Keg</button>
</form>
<form>
<label>Filter</label><br>
<select [value]="search" (input)="search = $event.target.value">
  <option value="all">Show All</option>
  <option value="IPA">IPA</option>
  <option value="Stout">Stout</option>
  <option value="Ale">Ale</option>
  <option value="Lager">Lager</option>
  <option value="Pilsner">Pilsner</option>
  <option value="Porter">Porter</option>
</select>
<button (click)="filter()">Search</button>
</form>
<ul *ngFor="let keg of totalKegs">
  <li *ngIf="keg.search"[class]="keg.priceCheck()">
    <p [class]="keg.abvCheck()">{{keg.name}}, {{keg.brand}}, {{keg.style}},  ${{keg.price}}, {{keg.abv}}%, <span [class]="keg.pintsLow()">{{keg.pints}} Pints Remaining</span></p>
    <button (click)="keg.editKeg(name, brand, price, abv); clearInputs();">Edit</button>
    <button (click)="keg.orderDrink(keg.selectedOrder)">Order</button>
    <select [value]="keg.selectedOrder" (input)="keg.selectedOrder = $event.target.value">
      <option value="pint">pint</option>
      <option value="growler">growler</option>
      <option value="large-growler">large growler</option>
    </select>
  </li>
</ul>
